@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow: auto;
}

.cards {
    padding: 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    margin: 0 300px;
}

.transfers-container {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0px;
}

.top-three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* player card container */

.player-card {
    position: relative;
    background-color: #ffffff;
    height: 500px;
    width: 350px;
    border: 3px solid black;
    border-radius: 12px;
    background: linear-gradient(109.6deg, rgb(243, 67, 67) 11.2%, rgb(2, 38, 208) 80%);
}

/* image */
.player-image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
    width: 100%;
    height: 170px;
    position: absolute;
    top: 6%;
}

/* image container */
.player-image {
    width: 300px;
}


.content {
    background: linear-gradient(109.6deg, rgb(243, 67, 67) 11.2%, rgb(2, 38, 208) 80%);
    padding: 0 20px;
    text-align: center;
    margin-top: -5px;
}

.background-image img{
    width: 344px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.team {
    width: 75px;
}

.transfers-icon {
    font-size: 30px;
    color: orange;
}

.deal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.price {
    text-align: center;
    color: orange;
}

.done-deal {
    text-align: center;
    margin-top: 10px;
} 

.price {
    font-weight: bold;
    font-size: 17px;
}

.red {
    color: Orange;
}

.blue {
    color: white;
}

.read-more {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    margin-top: 10px;
}

.read-more {
    background: red;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.read-more:hover {
    cursor: pointer;
    background-color: green;;
}