@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.main {
    height: 100%;
}

/* Titles */
.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 10%;
}

.col h2 {
    font-size: 50px;
    text-align: center;
    color: cyan;
}

.col h4 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: cyan;
    padding-top: 20px;
}

.container img {
    width: 800px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 23%;
}
