@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/images/overlay\ pictures/stadium.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    align-items: center;
    margin: 0px;
}

.hero {
    height: 1000px;
    align-items: center;
}


/* Navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    /* background: linear-gradient(rgba(255, 197, 61, 0.4), rgba(255, 94, 7, 0.5));*/
    background: linear-gradient(112.1deg, rgb(28, 52, 79, 0.3) 11.4%, rgb(83, 128, 189, 0.3) 100%);
    /* background: radial-gradient(circle at 10% 20%, rgb(239, 246, 249) 0%, rgb(206, 239, 253) 50%); */
}

.logo {
    color: #AEC8CC;
    font-size: 28px;
}

.logo span {
    color: white;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navigation ul li a:hover {
    color: red;
    transition: .3s;
}

.sign-in-button {
    border: none;
    background: #5380BD;
    padding: 5px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.sign-in-button:hover {
    transform: scale(1.3);
    cursor: pointer;
}