@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main {
    margin: 20px 0px 20px 0px;
}

.article-details {
    width: 750px;
    height: auto;
    margin: 0 28%;
}


.news-details {
    border: 3px solid black;
    border-radius: 20px;
    margin: 10px;
    background-color: white;
}

.article-news-content {
    padding: 32px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article-news-text {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.4;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news-author {
    display: flex;
    position: relative;
    left: -32%;
    margin-top: 30px;
}

.author-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.author-news-name {
    color: black;
}

.sub-news-name {
    color: darkblue;
}

.back-icon {
    padding: 20px 10px 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-left-icon {
    padding-right: 30px;
    font-size: 50px;
    color: black;
}

.edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit {
    text-decoration: none;
    margin-right: 30px;
    background-color: orangered;
    padding: 5px 15px;
    border-radius: 6px;
    color: black;
    font-weight: bold;
}

.delete {
    margin-right: 30px;
    padding: 5px 15px;
    background-color: red;
    font-weight: bold;
    border: none;
    font-size: 15px;
    border-radius: 6px;
}

.edit:hover {
    background-color: green;
    transition: 0.4s;
}

.delete:hover {
    background-color: green;
    cursor: pointer;
    transition: 0.4s;
}

.article-details-image {
    margin-bottom: 10px;
}

.article-details-image img{
    width: 680px;
    height: 469px;
    border-radius: 10px;
}


/* Interactions */

.article-details-interactions {
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding-bottom: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.article-details-interactions .icon {
    font-size: 40px;
    padding-right: 10px;
    margin-top: 10px;
}

.article-details-interactions p {
    font-size: 20px;
    font-weight: bold;
}

.like:hover {
    color: blue;
    transition: 0.3s ease;
}


.comment:hover {
    color: green;
    transition: 0.4s ease;
}

/* Add Comment */
.comment-box {
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.commentbox-comment-author {
    display: flex;
    padding: 10px 5px 10px 10px;
}

.commentbox-comment-author img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-section {
    padding-left: 10px;
    width: 700px;
}

.comment-author {
    display: flex;
    padding: 10px 5px 0px 10px;
    border-top: 2px solid black;
}

.comment-author .author-information {
    padding-bottom: 20px;
}

.comment-author img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
}

#comment-name {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#comment {
    background: white;
    height: 152px;
    width: 600px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.5px black;
}

#comment:focus-visible {
    box-shadow: inset 0 0 0 1px lightblue;
    outline: none;
}

.post-comment {
    width: 100px;
    padding: 6px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    left: 85%;
}

.post-comment:hover {
    background-color: green;
}

/* Comment section */

.comment-content p{
    padding: 0px 42px 20px 30px
}