@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

html {
    overflow: auto;
}

.main {
    width: 100%;
    height: 100%;
}

.main h1{
    text-align: center;
    margin: 40px 0;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin: 0 50px; 
    width: auto;
    height: auto; 
}

.news {
    border: 3px solid black;
    /* border-radius: 20px; */
    /* margin: 10px; */
    background-color: white;
    width: 770px;
}

.article-content {
    padding: 20px 30px 20px 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.article-text {
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.4;
}

.article-content-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.author {
    display: flex;
    
    margin-left: 30px;
    margin-top: 30px;
}

.article-author {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.author-name {
    color: black;
}

.sub-name {
    color: darkblue;
}

.article-content-image {
    margin: auto;
    border-radius: 20px;
}

.amount-interactions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.amount-interactions p {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.news:hover {
    background: lightgray;
    cursor: pointer;
    transition: 0.4s;
}

.interactions {
    display: flex;
    /* background-color: white; */
    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
    border-top: 2px solid black;
}

.interactions-icon{
    font-size: 30px;
    padding-right: 10px;
    margin-top: 10px;
}

.interactions p {
    font-size: 20px;
    font-weight: bold;
}

.like:hover {
    color: blue;
    transition: 0.3s ease;
}

.comment:hover {
    color: green;
    transition: 0.4s ease;
}

.add-article {
    display: flex;
    justify-content: center;
    align-self: center;
}

.add-article button {
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #5380BD;
    color: white;
    font-size: 20px;
}

.add-article i {
    padding-right: 5px;
}